{% load static %}
{% load i18n %}
<nav class="navigation">
    <a href="{% url 'pagesstatic:home' %}" class="navigation_logo"><img src="{% static 'img/logo-full.png' %}" alt=""></a>
    <button class="menu_btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <ul class="navigation_list">
        <li class="navigation_items">
            <span class="navigation_link">
                О компании
            </span>
            <div class="navigation_dropdown">
                <ul>
                    <li>
                        <a href="{% url 'pagesstatic:about'%}">О нас</a>
                    </li>
                    <li>
                        <a href="">Партнеры</a>
                    </li>
                    <li>
                        <a href="">Карьера</a>
                    </li>
                    <li>
                        <a href="">Загрузки</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navigation_items">
            <a href="{% url 'pagesstatic:projects' %}" class="navigation_link">
                Проекты
            </a>
        </li>
        <li class="navigation_items">
            <a href="{% url 'pagesstatic:portfolio' %}" class="navigation_link">
                Портфолио
            </a>
        </li>
        <li class="navigation_items">
            <a href="{% url 'pagesstatic:news' %}" class="navigation_link">
                Новости
            </a>
        </li>
        <li class="navigation_items">
            <a href="{% url 'pagesstatic:contacts' %}" class="navigation_link">Контакты</a>
        </li>
        <li class="navigation_items">
            <span href="" class="navigation_link lang_link">
                Ru <span>&#9660;</span>
            </span>
            <div class="navigation_dropdown lang_dropdown">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path}}" />
                    <ul class="nav navbar-nav navbar-right language menu">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <li>
                                <button type="submit"
                                        name="language"
                                        value="{{ language.code }}"
                                        class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                                    {{ language.name_local }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </form>



{#                <ul>#}
{#                    {% get_current_language as LANGUAGE_CODE %}#}
{#                    {% get_available_languages as LANGUAGES %}#}
{#                    {% get_language_info_list for LANGUAGES as languages %}#}
{#                    {% for language in languages %}#}
{#                        <li>#}
{#                            <a href="/{{ language.code }}/">{{ language.name_local }}</a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
            </div>
        </li>
    </ul>
</nav>
<!-- responsive mobile menu -->
<div class="mobile_menu">
    <ul class="link_list">
        <li>
            <a href="{% url 'pagesstatic:about' %}" data-toggle="collapse">О компании</a>
            <div id="demo" class="collapse">
                <div class="collapse_list">
                    <a href="{% url 'pagesstatic:about' %}">О нас</a>
                    <a href="">Партнеры</a>
                    <a href="">Карьера</a>
                    <a href="">Загрузки</a>
                </div>
            </div>
        </li>
        <li><a href="{% url 'pagesstatic:projects' %}">Проекты</a></li>
        <li><a href="{% url 'pagesstatic:portfolio' %}">Портфолио</a></li>
        <li><a href="{% url 'pagesstatic:news' %}">Новости</a></li>
        <li><a href="{% url 'pagesstatic:contacts' %}">Контакты</a></li>
    </ul>
    <p>Выбор языка:</p>
    <ul class="lang_list">
        <li><a href="">Uz</a></li>
        <li><a href="" class="active">Ru</a></li>
        <li><a href="">En</a></li>
    </ul>
    <ul class="social_icons">
        <li><a href=""><img src="{% static 'img/facebook-w.svg' %}" alt=""></a></li>
        <li><a href=""><img src="{% static 'img/telegram-w.svg' %}" alt=""></a></li>
        <li><a href=""><img src="{% static 'img/instagram-w.svg' %}" alt=""></a></li>
        <li><a href=""><img src="{% static 'img/whatsapp-w.svg' %}" alt=""></a></li>
    </ul>
</div>
